@model List<ai.option.web.ViewModels.IqOptionAccountViewModel>
@{
    Layout = "Portal/_LayoutPortal";
}


<div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="height: 0; position: absolute; width: 0;">
        <symbol viewBox="0 0 579 140" id="icon_general_logo-with-text-v2">
            <g fill="none" fill-rule="evenodd">
                <circle cx="70" cy="70" r="70" fill="#F70"></circle>
                <rect width="17.5" height="65.625" x="59.063" y="42.656" fill="#FFF" rx="8.75"></rect>
                <rect width="17.5" height="49.219" x="30.625" y="59.063" fill="#FFF" rx="8.75"></rect>
                <rect width="17.5" height="80.938" x="87.5" y="27.344" fill="#FFF" rx="8.75"></rect>
                <path fill="currentColor" d="M176.694 40.404a9.587 9.587 0 0 1-3.745-.749 9.601 9.601 0 0 1-3.11-2.074 9.776 9.776 0 0 1-2.075-3.053c-.499-1.152-.749-2.42-.749-3.802 0-1.383.25-2.65.75-3.803a9.776 9.776 0 0 1 2.073-3.053 9.601 9.601 0 0 1 3.111-2.074 9.587 9.587 0 0 1 3.745-.75c2.689 0 4.993.942 6.914 2.824 1.92 1.882 2.88 4.167 2.88 6.856 0 2.688-.96 4.973-2.88 6.855-1.92 1.882-4.225 2.823-6.914 2.823zm-7.49 64.64V48.586H184.3v56.46h-15.094zm64.162 1.268v-8.066c-1.382 2.382-3.533 4.417-6.452 6.107-2.92 1.69-6.53 2.535-10.831 2.535-3.61 0-7.048-.749-10.313-2.247a27.571 27.571 0 0 1-8.641-6.222c-2.497-2.65-4.475-5.818-5.934-9.506-1.46-3.687-2.19-7.72-2.19-12.098 0-4.379.73-8.411 2.19-12.098 1.46-3.688 3.437-6.856 5.934-9.506a27.571 27.571 0 0 1 8.641-6.222 24.444 24.444 0 0 1 10.313-2.247c4.301 0 7.912.845 10.83 2.535 2.92 1.69 5.07 3.725 6.453 6.106l.006-6.798h15.088v81.348h-15.094v-23.62zm-14.172-13.366c1.997 0 3.898-.365 5.703-1.094a14.25 14.25 0 0 0 4.782-3.17c1.383-1.382 2.497-3.072 3.342-5.069.845-1.997 1.267-4.263 1.267-6.798s-.422-4.801-1.267-6.798c-.845-1.997-1.96-3.687-3.342-5.07a14.25 14.25 0 0 0-4.782-3.169 15.074 15.074 0 0 0-5.703-1.094c-1.997 0-3.899.384-5.704 1.152a15.013 15.013 0 0 0-4.782 3.226c-1.382 1.383-2.496 3.073-3.341 5.07-.845 1.997-1.267 4.225-1.267 6.683s.422 4.686 1.267 6.683c.845 1.997 1.959 3.687 3.341 5.07a15.013 15.013 0 0 0 4.782 3.226 14.417 14.417 0 0 0 5.704 1.152zm83.155-46.204c4.379 0 8.393.749 12.041 2.247 3.65 1.497 6.798 3.571 9.449 6.222 2.65 2.65 4.724 5.818 6.222 9.506 1.498 3.687 2.247 7.72 2.247 12.098 0 4.378-.75 8.411-2.247 12.098-1.498 3.688-3.572 6.856-6.222 9.506-2.65 2.65-5.8 4.724-9.449 6.222-3.648 1.498-7.662 2.247-12.04 2.247-4.379 0-8.393-.749-12.041-2.247-3.65-1.498-6.798-3.572-9.449-6.222-2.65-2.65-4.724-5.818-6.222-9.506-1.498-3.687-2.247-7.72-2.247-12.098 0-4.379.75-8.411 2.247-12.098 1.498-3.688 3.572-6.856 6.222-9.506 2.65-2.65 5.8-4.725 9.449-6.222 3.648-1.498 7.662-2.247 12.04-2.247zm0 46.204c1.92 0 3.784-.365 5.589-1.094a14.25 14.25 0 0 0 4.782-3.17c1.382-1.382 2.477-3.072 3.283-5.069.807-1.997 1.21-4.263 1.21-6.798s-.403-4.801-1.21-6.798c-.806-1.997-1.9-3.687-3.283-5.07a14.25 14.25 0 0 0-4.782-3.169 14.78 14.78 0 0 0-5.589-1.094c-1.997 0-3.879.365-5.645 1.094a14.405 14.405 0 0 0-4.725 3.169c-1.382 1.383-2.477 3.073-3.283 5.07-.807 1.997-1.21 4.263-1.21 6.798s.403 4.8 1.21 6.798c.806 1.997 1.9 3.687 3.283 5.07a14.405 14.405 0 0 0 4.725 3.169c1.766.73 3.648 1.094 5.645 1.094zm33.282-44.36h15.1v6.797c1.377-2.38 3.528-4.416 6.447-6.106 2.919-1.69 6.53-2.535 10.831-2.535 3.61 0 7.048.749 10.312 2.247a27.571 27.571 0 0 1 8.642 6.222c2.497 2.65 4.475 5.818 5.934 9.506 1.46 3.687 2.19 7.72 2.19 12.098 0 4.378-.73 8.411-2.19 12.098-1.46 3.688-3.437 6.856-5.934 9.506a27.571 27.571 0 0 1-8.642 6.222 24.444 24.444 0 0 1-10.312 2.247c-4.302 0-7.912-.845-10.831-2.535-2.919-1.69-5.07-3.725-6.452-6.107v31.686H335.63V48.586zm29.267 44.36c1.997 0 3.898-.384 5.704-1.152a15.013 15.013 0 0 0 4.781-3.226c1.383-1.383 2.497-3.073 3.342-5.07.845-1.997 1.267-4.225 1.267-6.683s-.422-4.686-1.267-6.683c-.845-1.997-1.959-3.687-3.342-5.07a15.013 15.013 0 0 0-4.781-3.226 14.417 14.417 0 0 0-5.704-1.152c-1.997 0-3.898.365-5.704 1.094a14.25 14.25 0 0 0-4.781 3.169c-1.383 1.383-2.497 3.073-3.342 5.07-.845 1.997-1.267 4.263-1.267 6.798s.422 4.8 1.267 6.798c.845 1.997 1.959 3.687 3.342 5.07a14.25 14.25 0 0 0 4.781 3.169 15.074 15.074 0 0 0 5.704 1.094zm38.467-31.456h-9.91V48.585h9.91V31.302h15.094v17.283h13.827V61.49h-13.827v21.893c0 1.306.134 2.515.403 3.63.27 1.113.788 2.054 1.556 2.822 1.075 1.23 2.612 1.844 4.609 1.844 1.306 0 2.343-.135 3.11-.404a9.727 9.727 0 0 0 2.19-1.094l4.263 13.25a24.885 24.885 0 0 1-5.703 1.902c-2.036.422-4.283.633-6.74.633-2.843 0-5.397-.441-7.663-1.325-2.266-.883-4.167-2.093-5.704-3.63-3.61-3.456-5.415-8.372-5.415-14.748V61.49zm43.652-21.086a9.587 9.587 0 0 1-3.745-.749 9.601 9.601 0 0 1-3.111-2.074 9.776 9.776 0 0 1-2.074-3.053c-.5-1.152-.75-2.42-.75-3.802 0-1.383.25-2.65.75-3.803a9.776 9.776 0 0 1 2.074-3.053 9.601 9.601 0 0 1 3.11-2.074 9.587 9.587 0 0 1 3.746-.75c2.688 0 4.993.942 6.913 2.824s2.88 4.167 2.88 6.856c0 2.688-.96 4.973-2.88 6.855-1.92 1.882-4.225 2.823-6.913 2.823zm-7.49 64.64V48.586h15.094v56.46h-15.094zm49.759-58.302c4.378 0 8.392.749 12.04 2.247 3.65 1.497 6.799 3.571 9.449 6.222 2.65 2.65 4.724 5.818 6.222 9.506 1.498 3.687 2.247 7.72 2.247 12.098 0 4.378-.749 8.411-2.247 12.098-1.498 3.688-3.572 6.856-6.222 9.506-2.65 2.65-5.8 4.724-9.448 6.222-3.65 1.498-7.663 2.247-12.041 2.247-4.379 0-8.392-.749-12.041-2.247-3.649-1.498-6.798-3.572-9.448-6.222-2.65-2.65-4.724-5.818-6.222-9.506-1.498-3.687-2.247-7.72-2.247-12.098 0-4.379.749-8.411 2.247-12.098 1.498-3.688 3.572-6.856 6.222-9.506 2.65-2.65 5.8-4.725 9.448-6.222 3.649-1.498 7.662-2.247 12.04-2.247zm0 46.204c1.92 0 3.783-.365 5.588-1.094a14.25 14.25 0 0 0 4.782-3.17c1.383-1.382 2.477-3.072 3.284-5.069.806-1.997 1.21-4.263 1.21-6.798s-.404-4.801-1.21-6.798c-.807-1.997-1.901-3.687-3.284-5.07a14.25 14.25 0 0 0-4.782-3.169 14.78 14.78 0 0 0-5.588-1.094c-1.997 0-3.88.365-5.646 1.094a14.405 14.405 0 0 0-4.724 3.169c-1.383 1.383-2.478 3.073-3.284 5.07-.807 1.997-1.21 4.263-1.21 6.798s.403 4.8 1.21 6.798c.806 1.997 1.901 3.687 3.284 5.07a14.405 14.405 0 0 0 4.724 3.169c1.767.73 3.649 1.094 5.646 1.094zm47.339-36.986h.922c1.766-2.843 4.148-5.09 7.144-6.741 2.995-1.652 6.414-2.477 10.254-2.477 3.534 0 6.645.576 9.333 1.728 2.689 1.152 4.897 2.785 6.626 4.897 1.728 2.112 3.034 4.647 3.917 7.605.884 2.957 1.325 6.241 1.325 9.851v34.222h-15.094V72.667c0-4.071-.902-7.086-2.708-9.045-1.805-1.959-4.436-2.938-7.892-2.938-2.074 0-3.899.441-5.473 1.325a12.778 12.778 0 0 0-4.033 3.572c-1.114 1.498-1.959 3.264-2.535 5.3-.576 2.036-.864 4.206-.864 6.51v27.654h-15.095v-56.46h14.173v7.375z"></path>
            </g>
        </symbol>
    </svg>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
                @* <small>UI Elements<br>Form controls<br> <span class="c-white">Selection controls</span></small>*@
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-magic-wand"></i>
            </div>
            <div class="header-title">
                <h3>เพิ่มบัญชีซื้อขายสำหรับ Iq Option</h3>
                <small>
                    ผูกบัญชีที่ใช้ซื้อขาย และเปิดปิดสถานะอัตโนมัติ
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">


    <div class="col-md-6">
        <div id="profilePanel" class="panel panel-filled">
            <div class="loader">
                <div class="loader-bar"></div>
            </div>
            <div class="panel-heading">
                <div class="">
                    เชื่อมต่อบัญชี Iq Option
                    <svg class="Navbar__logoIcon panel-tools" style="color: #fff; height: 30px; width: 124px;}">
                        <use xlink:href="#icon_general_logo-with-text-v2"></use>
                    </svg>

                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label for="emailInput">ยูสเซอร์ใช้งาน</label>
                    <input class="form-control" id="emailInput" placeholder="Name" type="text">
                </div>
                <div class="form-group">
                    <label for="passwordInput">กำหนดรหัสผ่าน</label>
                    <input class="form-control" id="passwordInput" placeholder="Password" type="password">
                    <p class="help-block">ระบุรหัสผ่านสำหรับใช้งานร่วมกับ iq option</p>
                    <small>@TempData["ErrorMessage"]</small>
                </div>
                <button id="connectButton" class="btn btn-default">ตรวจสอบบัญชีซื้อขาย</button>


            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="profileResultPanelBody">


        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="panel-close">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <b>รายละเอียดบัญชี และสถานะการทำการซื้อขายอัตโนมัติ</b>
            </div>
            <div class="panel-body">
                <p>
                    ยอดเงินคงเหลือในบัญชี อาจจะยังไม่ได้เป็นปัจจุบัน
                </p>
                <div id="iq-account-detail-wrapper">


                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <link rel="stylesheet" href="~/vendor/switchery/switchery.min.css">

    <script src="~/vendor/switchery/switchery.min.js"></script>

    <script>
        activeNav('iqoptionAccountNav');


        var postActive = function(id) {
            $('#iq-account-detail-wrapper').html('');
            $.ajax({
                type: 'put',
                url: '@Url.Action("UpdateIsActiveAsync", "Portal")',
                data: { 'iqAccountId': id },
                success: function() {
                    getAccountDetailed();
                },
                error: function(e) {
                    alert(e);
                }
            });

        };

        var deleteAccount = function(id) {
            $('#iq-account-detail-wrapper').html('');
            $.ajax({
                type: 'delete',
                url: '@Url.Action("DeleteIqOptionAccoutAsync", "Portal")',
                data: { 'iqAccountId': id },
                success: function() {
                    getAccountDetailed();
                },
                error: function(e) {
                    alert(e);
                }
            });
        };

        var getAccountDetailed = function() {
            $('#iq-account-detail-wrapper').html('');
            $.ajax({
                type: 'get',
                url: '@Url.Action("GetIqOptionAccountTask", "Portal")',
                success: function(e) {
                    $('#iq-account-detail-wrapper').html(e);

                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    elems.forEach(function(html) {
                        var switchery = new Switchery(html);
                    });

                }
            });
        };


        $(document).ready(function() {
            getAccountDetailed();
            $('#connectButton').on('click',
                function(e) {
                    getAccountDetailed();

                    e.preventDefault();
                    $('#profilePanel').addClass('ld-loading');
                    $.ajax({
                        type: 'get',
                        url: "@Url.Action("GetTokenAsync", "IqOption")",
                        contentType: "application/json; charset=utf-8",
                        data: { EmailAddress: $('#emailInput').val(), Password: $('#passwordInput').val() },
                        datatype: "json",
                        success: function(msg) {
                            $('#profileResultPanelBody').html(msg);
                            $('#profilePanel').removeClass('ld-loading');
                        },
                        error: function(msg) {
                            alert(msg.responseText);
                            $('#profilePanel').removeClass('ld-loading');
                        },
                        complete: function(msg) {
                            $('#profilePanel').removeClass('ld-loading');
                        }
                    });


                });


        });


    </script>
}