@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AiOption - ระบบซื้อขาย IqOption อัจฉริยะ</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/css/orange.css"/>
    <link rel="stylesheet" href="~/css/logoiconfont.css"/>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!--Nav bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand scroll-link" href="#home" data-id="home">
                        <img class="img-responsive" style="max-height: 40px" src="images/logo.jpg"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="">
                            <a href="">How it work</a>
                        </li>
                        <li class="">
                            <a href="">Contact Us</a>
                        </li>

                        @if (!User.Identity.IsAuthenticated) {
                            <li class="">
                                <a href="@Url.Action("Login", "Account")">Login</a>
                            </li>
                        }

                        @*<li class=""><a href="#ideology" data-id="ideology" class="scroll-link">Ideology</a></li>
        <li class=""><a href="#services" data-id="services" class="scroll-link">Services</a></li>
        <li class=""><a href="#about" data-id="about" class="scroll-link">About</a></li>
        <li class=""><a href="#work" data-id="work" class="scroll-link">Work</a></li>
        <li class=""><a href="#team" data-id="team" class="scroll-link">Team</a></li>
        <li class=""><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>*@
                        <li class="dropdown">
                            @if (User.Identity.IsAuthenticated) {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("Index", "Portal")">Go to Portal</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Account")">Logout</a>
                                    </li>
                                </ul>
                            }

                            @*<li><a href="components.html">Components</a></li>
        <li><a href="pricing-options.html">Pricing Options</a></li>
        <li><a href="team-options.html">Team Options</a></li>
        <li><a href="../index.html">Demos</a></li>
        <li><a href="https://wrapbootstrap.com/theme/particles-personal-agency-template-WB05N7852" target="_blank">Purchase</a></li>*@
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>

</div>

<partial name="_CookieConsentPartial"/>

@RenderBody()


<footer class="footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <span class="icon-handle-streamline-vector logo"></span>
                <h2 class="theme-title">Particles<span class="theme-title-smaller">Theme</span></h2>
                <a href="#">
                    <span class="ion-social-twitter social-icons-dark-hover mr15"></span>
                </a>
                <a href="#">
                    <span class="ion-social-facebook social-icons-dark-hover mr15"></span>
                </a>
                <a href="#">
                    <span class="ion-social-googleplus-outline social-icons-dark-hover"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                <hr>
                <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                <p class="no-margin">© Mongkon Eiadon</p>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/parallax.min.js"></script>
@RenderSection("Scripts", false)
</body>
</html>