@model ai.option.web.ViewModels.IqOptionAccountViewModel


<tr>

    @using (Html.BeginForm("UpdateIsActiveAsync", "Portal", FormMethod.Post, new {id = $"formAccRow_{@Model.IqOptionAccountId}"})) {
        @Html.HiddenFor(m => m.IqOptionAccountId)
        <td>@Model.EmailAddress</td>
        <td>@Model.Balance</td>
        <td>@Model.Currency (@Model.CurrencyChar)</td>
        <td>@Model.CreatedOn.ToShortDateString()</td>
        <td>
            @Html.CheckBoxFor(m => m.IsActive, new {
                onchange = $"$('#formAccRow_" + @Model.IqOptionAccountId + "').submit();",
                @class = "js-switch", id = $"IsActiveCheckBox_{@Model.IqOptionAccountId}"
            })
        </td>
    }

</tr>