@model ai.option.web.ViewModels.IqOptionRequestViewModel

<div class="panel panel-filled">
<div class="panel-heading">
</div>
<div class="panel panel-body">
    <div class="table-responsive">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>รายการ</th>
                    <th>รายละเอียดของบัญชีซื้อขาย</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ชื่อที่ลงทะเบียน</td>
                    <td>@Model.ProfileResponseViewModel.FirstName @Model.ProfileResponseViewModel.LastName</td>
                </tr>
                <tr>
                    <td>รหัสประจำตัวซื้อขาย</td>
                    <td>
                        <code class="text-accent">@Model.ProfileResponseViewModel.UserId</code>
                    </td>
                </tr>
                <tr>
                    <td>อีเมล์ที่ใช้ยืนยันตน</td>
                    <td>@Model.EmailAddress</td>
                </tr>
                <tr>
                    <td>ยอดคงเหลือในบัญชี</td>
                    <td>@Model.ProfileResponseViewModel.Balance @Model.ProfileResponseViewModel.CurrencyChar</td>

                </tr>
                <tr>
                    <td>สกุลเงิน</td>
                    <td>@Model.ProfileResponseViewModel.Currency (@Model.ProfileResponseViewModel.CurrencyChar)</td>
                </tr>
                <tr>
                    <td>สถานที่ติดต่อ</td>
                    <td>@Model.ProfileResponseViewModel.Address @Model.ProfileResponseViewModel.City</td>
                </tr>
                <tr>
                    <td>วันเดือนปีเกิด</td>
                    <td>
                        @{

                            var text = "";
                            if (Model.ProfileResponseViewModel.Birthdate == DateTime.MinValue) {
                                text = "ยังไม่ได้ระบุ";
                            }
                            else {
                                text = Model.ProfileResponseViewModel.Birthdate.ToShortDateString();
                            }
                        }
                        @text</td>
                </tr>

                </tbody>
            </table>
        </div>


        <span class="c-white">
        </span>
        <br>

        @using (Html.BeginForm("AddIqOptionAccountAsync", "Portal", FormMethod.Post)) {
            @Html.HiddenFor(m => m.EmailAddress)
            @Html.HiddenFor(m => m.Password)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.UserId)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.BalanceId)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Balance)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.CurrencyChar)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Currency)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Address)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Avartar)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Birthdate)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.City)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.Ssid)
            @Html.HiddenFor(m => m.ProfileResponseViewModel.SsidUpdated)

            <small>@Model.Temp</small>


            <div class="btn-group m-t-sm bottom-right  panel-tools">
                @if (Model.IsPassed) {
                    <small class="btn">
                        กดยืนยันเพื่อใช้งานด้วย บัญชี <code class="text-accent">(@Model.EmailAddress)</code>
                    </small>
                    <button id="confirmAddButton" class="btn btn-default btn-sm " type="submit">
                        <i class="fa fa-check"></i>
                        ยืนยัน
                    </button>
                }
                else {
                    <small>
                        <small class="btn">
                            ไม่สามารถตรวจสอบบัญชีซื้อขาย <code class="text-accent">(@Model.EmailAddress)</code> ได้
                        </small>
                    </small>
                }
            </div>
        }

    </div>
</div>